/* Defind the Color name */
:root {
    --PineTree:#2D2926;
    --HalayaUbe:#6C3C5E;
    --Amazon:#005262;
    --MoonstoneBlue:#65BBBB;
    --GrayX11:#C0B9C1;
    --Snow:#FBFAFB;

    
  }
  

nav {
    background-color: var(--MoonstoneBlue);
    /* margin-bottom: 1px; */
    margin-top: 1px;
    height: 35px;
    border: 2px solid var(--HalayaUbe);
}
nav li {
    display: inline;
    padding-right: 2rem;
    padding-left: 2rem;
    
    color: var(--HalayaUbe);
    text-align: center;
    top: 10px;
    position: relative;
    margin: 0 auto;
}

nav li:last-child {
    padding-right: 0;
}

.banner{
    background-color:  var(--HalayaUbe);
    background-position: bottom center;
    height: 150px;
    width: 100%;

    /* margin: 0 auto; */
    
    /* position: relative; */
    
}
.banner h1{
    /* margin-top: 60px; */
    color:  rgb(229, 229, 229);
    font-family: sans-serif;
    border: 3px solid white;
    position: relative;
    top: 50px;
    width: 400px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    align-items: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

table{

    width: auto;  
    margin: 0 auto;
    border: 3px solid rgb(255, 255, 255);

}




.palette{
    background-color: rgb(229, 229, 229);


}
.palette-1 {
    /* margin-top: 70px; */
    background-color: var(--PineTree); 
    /* width: 50px;  */

    color: antiquewhite;
    text-align: center;
    width: 100px;
   

}

.palette-2{
    background-color: var(--HalayaUbe);
    /* width: 50px;  */
    color: antiquewhite;
    text-align: center;
}

.palette-3{
    background-color: var(--Amazon);
    /* width: 50px;  */
    color:rgb(0, 0, 0);
    text-align: center;
}

.palette-4{
    background-color:  var(--MoonstoneBlue);
    /* width: 50px;  */
    color:rgb(0, 0, 0);
    text-align: center;
}


.palette-5{
    background-color:  var(--GrayX11);
    /* width: 50px;  */
    color:rgb(0, 0, 0);
    text-align: center;
}

.palette-6{
    background-color:  var(--Snow);
    /* width: 50px;  */
    color:rgb(0, 0, 0);
    text-align: center;
}



