/* Defind the Color name */
:root {
    --PineTree: #2D2926;
    --HalayaUbe: #6C3C5E;
    --Amazon: #005262;
    --MoonstoneBlue: #65BBBB;
    --GrayX11: #C0B9C1;
    --Snow: #FBFAFB;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;1,100&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');


@font-face {
    font-family: "Afacad";
    src: url();
}

nav {
    background-color: var(--MoonstoneBlue);
    /* margin-bottom: 1px; */
    margin-top: 1px;
    height: 35px;
    border: 2px solid var(--HalayaUbe);
    display: flex;
}

nav li {
    display: inline;
    padding-right: 2rem;
    padding-left: 2rem;
    font-family: 'Roboto', sans-serif;

    color: var(--Snow);
    text-align: center;
    top: 10px;
    position: relative;
    margin: 0 auto;
}


.banner {
    background-color: var(--HalayaUbe);
    background-position: bottom center;
    height: 150px;
    width: 100%;
}

.banner h1 {
    width: 500px;
    /* margin-top: 60px; */
    color: rgb(229, 229, 229);
    font-family: 'Roboto', sans-serif;

    background-color: var(--HalayaUbe);
    font-size: xx-large;
    border: 3px solid white;
    position: relative;
    top: 50px;

    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.1em;

}

.container {
    font-family: 'Roboto', sans-serif;
    /* max-width: 500px; */
    /* display: grid; */
    /* grid-template-columns: 1fr; Create one column */
    grid-gap: 10px; /* Add some space between items */
}
.section{
    display: grid;

    /* display: flex; */
    /* flex-direction: column; .*Stack items vertically */ */
    /* max-width: 500px; */
    margin: 5px 0;
    /* margin-bottom: 100px ; */
    
}

.section table{
    margin-bottom: 10px ;  
}

.section h1 {
    /* max-width: 500px; */
    font-family: 'Roboto', sans-serif;
    background-color: var(--PineTree);
    color: var(--Snow);
    
    font-size: x-large;
    width: 100%;
    text-align: center;

    /* text-indent: 30px; */
    border: 2px solid var(--Snow);
    /* top and bottom | left and right */
    /* margin: 30px 0; */
    padding: 20px 0;




}

.title_name h2 {
    max-width: 500px;
    font-family: 'Roboto', sans-serif;
    color: var(--PineTree);
    
    /* height: 20px; */
    /* padding: 10px 10px; */
    width: 100%;
    /* background-color: var(--GrayX11); */
    /* text-indent: 4px; */

    font-weight: 500;
    font-size: 2cap;
    text-align: center;
    /* border: 1px solid var(--HalayaUbe); */
    /* margin-top: 10px; */

    /* top | right | bottom | left */
    /* margin: 0px 0px 0px 0px; */
     /* padding: 10px 2px 10px 0; */
    /* top and bottom | left and right */   
    /* margin: auto 0; */


}

.table {
    /* max-width: 1000px; */
    /* border-collapse: collapse; */
   
    
}

/* Define the width of the first column */
table th:first-child,
table td:first-child {
    width: 96px;
    text-align: center;
}

/* Define the width of the columns after the first */
table th:not(:first-child),
table td:not(:first-child) {
    width: 398px;
    /* text-indent: 3px; */
}

.html_code {
    background: var(--PineTree);
    color: var(--MoonstoneBlue);
}

.html_thead th {
    background-color: var(--MoonstoneBlue);
    height: 30px;
    color: var(--Snow);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.html_tbody tr td {
    background-color: var(--HalayaUbe);
    height: 30px;
    color: var(--GrayX11);
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    /* You can adjust this value based on the available weights */

}

.html_tfoot tr td {
    /* background-color: var(--Snow); */
    height: 5px;
    border: none;

    /* color: var(--GrayX11); */
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
  
    /* border-collapse: collapse; */
    /* You can adjust this value based on the available weights */


}
